<div>
	<h2 class="margin-0010">Blog</h2>
	<div class="card-row">
		<a href="#">
			<div class="teaser">
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
				<div>
					<p><strong>Blog headline</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="teaser">
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
				<div>
					<p><strong>Blog headline</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="teaser">
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
				<div>
					<p><strong>Blog headline</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
				</div>
			</div>
		</a>
	</div>
</div>