<footer>
	<div class="main-content big-row">
		<div>
			<img class="no-margin" src="../assets/images/favicon.svg" alt="">
		</div>
		<div class="link-list flex-column flex">
			<p class="padding-0010"><strong>Headline</strong></p>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
		</div>
		<div class="link-list flex-column flex">
			<p class="padding-0010"><strong>Headline</strong></p>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
			<a href="#">Some link</a>
		</div>
		<div class="link-list flex-column flex">
			<p class="padding-0010"><strong>Get started</strong></p>
			<button class="btn primary-btn margin-0010" href="#">Wallet experience</button>
			<button class="btn primary-btn" href="#">Developer library</button>
		</div>
	</div>

	<div class="flex space-between align-content-center margin-2">
		<p class="grey-dark">Copyright © {{ site.name }}</p>
		<ul class="no-margin nav-links">
			<a href="#" class="margin-0100">Help</a>
			<a href="#">Contact</a>
		</ul>
	</div>	 
</footer>