<div>
	<h2 class="margin-0010">Our Open Source Packages</h2>
	<div class="card-row">
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
		<div class="card feature">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p><strong>Open source</strong> that has a cool functionality and what not</p>
				<div class="git-stars margin-1000"><p>★ 203</p></div>
			</div>
		</div>
	</div>
</div>