<div>
	<h2 class="margin-0010">The Team</h2>
	<div class="card-row">
		<div class="card avatar">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p>Nick Dodson</p>
				<p>Lead Developer</p>
			</div>
		</div>
		<div class="card avatar">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p>Nick Dodson</p>
				<p>Lead Developer</p>
			</div>
		</div>
		<div class="card avatar">
			<div>
				<img src="../assets/images/nickdodson.jpg" alt="Nick Dodson Face">
			</div>
			<div>
				<p>Nick Dodson</p>
				<p>Lead Developer</p>
			</div>
		</div>
	</div>
</div>