
// Flex box

.flex { display: flex; }
.space-between { justify-content: space-between; }
.align-content-center { align-items: center; }

// paddings

.no-padding { padding: 0 0 0 0; }

.padding-1000 { padding: 1em 0 0 0; }
.padding-0100 { padding: 0 1em 0 0; }
.padding-0010 { padding: 0 0 1em 0; }
.padding-0001 { padding: 0 0 0 1em; }

.padding-2 { padding: 1em 0em; }
.padding-22 { padding: 1em 1em; }

.padding-2000 { padding: 2em 0 0 0; }
.padding-0200 { padding: 0 2em 0 0; }
.padding-0020 { padding: 0 0 2em 0; }
.padding-0002 { padding: 0 0 0 2em; }

.padding-2 { padding: 2em 0em; }
.padding-22 { padding: 2em 2em; }

// Margins

.no-margin { margin: 0 0 0 0; }

.margin-1000 { margin: 1em 0 0 0; }
.margin-0100 { margin: 0 1em 0 0; }
.margin-0010 { margin: 0 0 1em 0; }
.margin-0001 { margin: 0 0 0 1em; }

.margin-1 { margin: 1em 0em; }
.margin-11 { margin: 1em 1em; }

.margin-2000 { margin: 2em 0 0 0; }
.margin-0200 { margin: 0 2em 0 0; }
.margin-0020 { margin: 0 0 2em 0; }
.margin-0002 { margin: 0 0 0 2em; }

.margin-2 { margin: 2em 0em; }
.margin-22 { margin: 2em 2em; }

